# shellcheck disable=SC2034,SC2148

# tag is the name of the image to use
tag=kdaweb/certbotbot:latest

# bucket is the AWS bucket to use
bucket=thisismybucket

# email is the email address to use with the Let's Encrypt account when
# creating new certificates
email=foo@bar.com

# flags is the list of flags to pass along to DEBUGFLAGS in the container
flags=
